body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  width: 90%;
  margin: auto;
}
.card-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card-col{
  width:30%;
  padding: 10px;
}
.card-card{
  padding: 15px 10px;
  box-shadow: 0 0 3px rgb(114, 114, 114);
  text-align: start;
  border-radius: 5px;
}